/////////////
//  FLEX  //
///////////
.flex { display: flex; }
.flex-inline { display: inline-flex; }

.flex::before
.flex::after,
.flex-inline::before,
.flex-inline::after {
    display: none;
}

// ALIGNMENT ///////////
/* Phone landscape and bigger */
@media (min-width: @breakpoint-small) {
    .flex-top\@s { align-items: flex-start !important; }
    .flex-middle\@s { align-items: center !important; }
    .flex-bottom\@s { align-items: flex-end !important; }
    .flex-stretch\@s { align-items: stretch !important; }
    .flex-left\@s { justify-content: flex-start !important; }
    .flex-center\@s { justify-content: center !important; }
    .flex-right\@s { justify-content: flex-end !important; }
    .flex-space-between\@s { justify-content: space-between !important; }
    .flex-space-around\@s { justify-content: space-around !important; }
}

/* Tablet landscape and bigger */
@media (min-width: @breakpoint-medium) {
    .flex-top\@m { align-items: flex-start !important; }
    .flex-middle\@m { align-items: center !important; }
    .flex-bottom\@m { align-items: flex-end !important; }
    .flex-stretch\@m { align-items: stretch !important; }
    .flex-left\@m { justify-content: flex-start !important; }
    .flex-center\@m { justify-content: center !important; }
    .flex-right\@m { justify-content: flex-end !important; }
    .flex-space-between\@m { justify-content: space-between !important; }
    .flex-space-around\@m { justify-content: space-around !important; }
}

/* Desktop and bigger */
@media (min-width: @breakpoint-large) {
    .flex-top\@l { align-items: flex-start !important; }
    .flex-middle\@l { align-items: center !important; }
    .flex-bottom\@l { align-items: flex-end !important; }
    .flex-stretch\@l { align-items: stretch !important; }
    .flex-left\@l { justify-content: flex-start !important; }
    .flex-center\@l { justify-content: center !important; }
    .flex-right\@l { justify-content: flex-end !important; }
    .flex-space-between\@l { justify-content: space-between !important; }
    .flex-space-around\@l { justify-content: space-around !important; }
}

/* Large screen and bigger */
@media (min-width: @breakpoint-xlarge) {
    .flex-top\@xl { align-items: flex-start !important; }
    .flex-middle\@xl { align-items: center !important; }
    .flex-bottom\@xl { align-items: flex-end !important; }
    .flex-stretch\@xl { align-items: stretch !important; }
    .flex-left\@xl { justify-content: flex-start !important; }
    .flex-center\@xl { justify-content: center !important; }
    .flex-right\@xl { justify-content: flex-end !important; }
    .flex-space-between\@xl { justify-content: space-between !important; }
    .flex-space-around\@xl { justify-content: space-around !important; }
}

// ITEM ORDENING //////////
.flex-first { order: -1; }
.flex-last { order: 99; }

/* Phone landscape and bigger */
@media (min-width: @breakpoint-small) {
    .flex-first\@s { order: -1; }
    .flex-last\@s { order: 99; }
}

/* Tablet landscape and bigger */
@media (min-width: @breakpoint-medium) {
    .flex-first\@m { order: -1; }
    .flex-last\@m { order: 99; }
}

/* Desktop and bigger */
@media (min-width: @breakpoint-large) {
    .flex-first\@l { order: -1; }
    .flex-last\@l { order: 99; }
}

/* Large screen and bigger */
@media (min-width: @breakpoint-xlarge) {
    .flex-first\@xl { order: -1; }
    .flex-last\@xl { order: 99; }
}

// ITEM DEMENSION /////////
.flex-none { flex: none; }
.flex-auto { flex: auto; }
.flex-1 { flex: 1; }
